.blogSlider{
    width: 100vw;
    height: 800px;
    background-image: url('../assets//background.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    
}
.info{
    background: rgba(18, 18, 18, 0.88);
    width: 783px;
    height: 259px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2em 4em;
    margin-top: 2em;
}
.info .category{
    display: inline-flex;
    padding: 5px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.15);
}
.info .category p{
    color: #fff;
    text-align: right;
    font-family: 'Roboto';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.info h3{
    color: #FFF;
    width: 530px;
    font-family: 'Lora';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: start;
    margin-top: 0.6em;
}
.info .release{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.6em;
}
.info .release p.date{
    color: #E5E5E5;
    font-family: 'Lora';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0.6em;
    width: 59px;
    height: 15px;
    margin-right: 1em;
}
.info .release p.line{
    width: 30px;
    height: 1px;
    background: #E5E5E5;
    margin-right: 1em;
}
.info .release p.incentiveText{
    width: 420px;
    text-align: start;
    color: #E5E5E5;
    font-family: 'Lora';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.blogSlider img{
    width: 44px;
    height: 8px;
}
.pagination{
    display: flex;
    align-items: center;
    margin: 0em 4em 2em 4em;
}