.blogCards{
    margin: 8em 3em 0em 3em;
}
.blogCards h2{
    color: #495057;
    font-family: 'Lora';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.blogCards .filterGenrer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
}
.blogCards .filterGenrer .genres{
    display: flex;
}
.filterGenrer li{
    cursor: pointer;
    margin-right: 1em;
    font-family: 'Lora';
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; 
}
.blogCardsLists{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blogCardsLists .card{
    width: 400px;
    background-color: #fff;
    box-shadow: 5px 5px 2px #fff;
    margin-bottom: 4em;
}
.card:hover{
    cursor: pointer;
}
.card img{
    width: 100%;
    height: 350px;
}
.cardInfo{
    margin: 1em;
    font-family: 'Lora';
    font-style: normal;
}
.cardInfo .release{
    color: #6C757D;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}
.cardInfo .title{
    color: #495057;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin: 0.8em 0em;
}
.cardInfo .description{
    color: #6C757D;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0.8em;
}
.card .author{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-top: 0.5px solid #E5E5E5; 
    padding: 1em 0em;
}
.author img{
    width: 50px;
    height: 50px;
    margin-right: 2em;
}
.author p{
    color: #495057;
    font-family: 'Lora';
    font-size: 0.8em;
    font-style: normal;
    font-weight: 400;
    line-height: 20px
}
.backgroundImg{
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}
@media (max-width: 767px){
    .blogCards{
        margin: 2em 3em;
    }
    .blogCardsLists{
        justify-content: center;
    }
    .blogCardsLists .card{
        width: 300px;
    }
    .backgroundImg{
        height: 300px;
    }
}
@media(min-width: 768px) and (max-width: 992px){
    .blogCards {
        margin: 2em 1em;
    }
    .blogCards h2{
        margin-left: 0.5em;
    }
    .blogCards .filterGenrer{
        margin: 1em;
        font-size: 1.2em;
    }
    .blogCardsLists{
        justify-content: space-around;
    }
    .blogCardsLists .card{
        width: 45%;
    }
    .card .description, .card .release{
        font-size: 0.9em;
    }
}
@media (min-width: 1200px){
    .blogCardsLists{
        justify-content: space-around;
    }
}